/* CSS for the home page */

/* Body Text for whole application */
body {
  font-family:'Lato';
}

/* Hero Image on home page */
.gallery {
  margin-top:-110px;
}

/* Css form search bar on home page */
form {
    border-radius: 15px 15px 15px 15px;
    padding: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
}
/* Inside the searchbar (placeholder text) */
input search{
  font-size: 20px;
  font-family:'Roboto';
}

/* CSS for the cards*/
a {
    color: black;
    text-decoration: none;
}
.card-title{
  color:black;
}
/* Star rating colour */
.fa{
  color:green;
}
small{
  color:black;
}

/* Card sizes & text */
.card {
    height: 275px;
    width: 250px;
    font-family:'Trebuchet MS';

}

/* Card Table Row */
table tr, td {
    background-color: white;
    position: relative;
}

h4 {
    margin-left: 2.5%;
}

/* Searchbar size */
.search-bar {
    width: 650px;
    margin-top: 175px;
    margin-left: 100px;
}

/* Searchbar results CSS */
search td, tr {
    border-bottom: solid 1px #BDC7D8;
    background-color: #373534;
    opacity:0.85;
    width: 80%;
    padding-left:6px;
    padding-top:3px;
    line-height: 1.2;
    font-family: Roboto;
    font-size: 20px;
    color: white;
}
/* Searchbar colours */
search a{
  color:white;
}
search a:hover{
  text-decoration: none;
  color:#009245;
}
search tr:hover {
    background-color: white;
    color: grey;

}

/* Hero Image Text css */
.heroImgText {
    display: flex;
    position: absolute;
    margin-top: 24%;
    justify-content: center;
    color: #F5FFFA;
    margin-left: 35%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 700;
}

/* Media Query for mobile */
@media screen and (max-width: 812px) {
    .heroImgText {
        display: none;
    }

    form {
        border-radius: 15px 15px 15px 15px;
        max-width: 100%;
        padding: 0px;
        margin-top: 100px;
    }

    .search-bar {
        margin-top: 30px;
        margin-left: 0px;
        width: 300px;
    }

    .gallery {
        margin-top: -25%;
        height: 15rem;
    }

    td {
        width: 60%;
        float: left;
        margin-left: 20%;
    }

    .card {
        margin-left: -20px;
    }

}
/* Media Query for Desktop (1920px * 1200px) */
@media screen and (min-width: 1920px) {
    .heroImgText {
        display: flex;
        margin-left: 690px;
        font-size: 54px;
        margin-top: 470px;
    }

    .search-bar {
        margin-top: 400px;
        margin-left: 300px;
        width: 900px;
    }

    #search{
      height: 60px;
      font-size: 24px;
      font-family: 'Trebuchet MS';
    }
